<html>
  <head>
    <title>Create an Event!</title>
    <link  href="/static/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  <a href="/login" style="color:black;position:absolute;right:0px;"><button>logout</button></a>

    <div class="container">
      <h1>Create Event</h1>
      <br>
      <form action="" method="post">
       Name of the Event
          <br>
          <input type="text"  name="name" class="form-control">
          <br>
       Email of host
          <br>
          <input type="text" placeholder="goldroger@gmail.com" name="email" class="form-control">
          <br>
          Venue
          <br>
          <input type="text" name="venue" class="form-control">
          <br>
          Address(Will auto search GoogleMaps for you)
          <br>
          <input type="text"  name="address" class="form-control">
          <br>
       Description
          <br>
        <textarea class="form-control" rows="7"></textarea>
          <br>
       Phone Number of host
          <br>
          <input type="text" placeholder="Danil" name="phone_number" class="form-control">
          <br>
       Time event starts
          <br>
          <input type="text" placeholder="" name="time" class="form-control">
          <br>
       Duration of event
          <br>
          <input type="text" placeholder="" name="duration" class="form-control">
          <br>
       Date
          <br>
          <input type="text" placeholder="in D/M/Y format" name="date" class="form-control">
          <br>

          <input  type="submit" value="Create!" class="btn btn-default">
      </form>



      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
    </div>
  <div>
      <a href="/events/view" style="color:black;">view events</a>
  </div>
  </body>
</html>