<html>


    <head>
        <title>Create a User @ Locomotive</title>

        <!-- Connecting to Google Fonts API -->
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Adding necessary JS and CSS files -->
       <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
   <link href="{{url_for('static', filename='font-awesome.min.css')}}" rel="stylesheet" type="text/css">



   <style>
     .form_create{
      font-family: 'Raleway',cursive;
      font-size: 22px;}



   </style>

  </head>



  <!-- Form Begin -->
 
  <body  style="background: url('/static/img/background.jpg');background-size:cover;">


    <div class="container">
        <h1 style="font-family: 'Raleway', cursive;font-size: 100px;color:white;">Create User</h1>
        <br>
        
        <!-- Need to clean up styles here -->
        <form action="" method="post">
           
            <div id="example">
            <input type="text" placeholder="Username" name="create_username" class="form-control form_create" v-model="create_username"><br><br>
            
            
            


            <input type="password" placeholder="Password" name="create_password" v-model="password" class="form-control form_create"><br><br>
            <input type="password" placeholder=" Re-enter Password" name="password_re_enter" v-model="password_re_enter" class="form-control form_create"><br><br>
          

            <input type="text" placeholder="Phone Number" name="phone_number"  class="form-control form_create"><br><br>
            <input type="text" placeholder="Email" name="email" class="form-control form_create"><br><br>
            <input type="text" placeholder="Community" name="community" class="form-control form_create"><br><br>
            <input class="btn btn-success" type="submit" value="Create!"  class="form-control form_create"><br><br>
        </form>
        </div>




      <!--Incase of errors -->
      {% if error %}
        <p class="text-danger bg-danger"style="font-family: 'Raleway', cursive;font-size: 22px"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
    </div>






  </body>



</html>