<html>
  <head>
    <title>Create User!</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
   <link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <h1>Create User</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="create_username">
         <input type="password" placeholder="Password" name="create_password">
          <input type="password" placeholder=" Re-enter Password" name="password_re_enter">
          <br>
          <input type="text" placeholder="Phone Number" name="phone_number">
          <input type="text" placeholder="Email" name="email">
          <input type="text" placeholder="Community" name="community">
          <input class="btn btn-default" type="submit" value="Create!">
      </form>

      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
    </div>
  </body>
</html>