<html>


    <head>
        <title>Create an Event!</title>


        <!-- connecting to Google Fonts API -->
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Adding necessary CSS and JS files  -->
        <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" type="text/css">
        <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
        <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
        <link href="{{url_for('static', filename='font-awesome.min.css')}}" rel="stylesheet" type="text/css">
        <link href="{{url_for('static', filename='simple-sidebar.css')}}" rel="stylesheet" type="text/css">


        <!-- Form Font size -->
        <style>
            .form_font{
                font-family: 'Raleway';font-size:26px;

                       }

        </style>
    </head>



    <body>

 <div id="wrapper" style="font-family: 'Raleway';">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Logged in as {{user_in_use}}
                    </a>
                </li>
                <li>
                    <a href="/{{user_in_use}}">Home</a>
                </li>
                <li>
                    <a href="/events-of/{{user_in_use}}">My Events</a>
                </li>
                <li>
                    <a href="/events/create">Create Event</a>
                </li>
                <li>
                    <a href="/events/view">View Events</a>
                </li>
                <li>
                    <a href="/events/all/past">View Past Events</a>
                </li>
                <li>
                    <a href="/{{user_in_use}}/edit">Edit User</a>
                </li>
                <li>
                    <a href="/">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
<!-- Navbar end -->



<!-- Form Begin -->
    <div class="container">
      <h1 style="font-family: 'Raleway', cursive;font-size:50px;">Create Event</h1>
      <br>
      <form action="" method="post" enctype="multipart/form-data" class="form_font">
          Name of the Event
          <br>
          <input type="text"  name="name" class="form-control" value="{{request.form['name']}}">
          <br>

          Email of host
          <br>
          <input type="text" placeholder="goldroger@gmail.com" name="email" class="form-control" value="{{request.form['email']}}">
          <br>

          Venue
          <br>
          <input type="text" name="venue" class="form-control">
          <br>

          Address(Will auto search Maps for you)
          <br>
          <input type="text"  name="address" class="form-control" value="{{request.form['address']}}">
          <br>

          Description
          <br>
        <textarea class="form-control" rows="7" name="description" >{{request.form['description']}}</textarea>
          <br>

          Phone Number of host
          <br>
          <input type="text" placeholder="944xxxxxxx" name="phone_number" class="form-control" value="{{request.form['phone_number']}}">
          <br>

          Time event starts
          <br>
          <input type="text" placeholder="" name="time" class="form-control" value="{{request.form['time']}}">
          <br>

          Duration of event
          <br>
          <input type="text" placeholder="" name="duration" class="form-control" value="{{request.form['duration']}}">
          <br>

          Year
          <input type="text" placeholder=" Example: 2016" name="year" class="form-control">

          Month
          <input type="text" placeholder="Example: 12" name="month" class="form-control">

          Day
          <input type="text" placeholder="Example: 6" name="day" class="form-control">
          <br>

          Image(Optional)
          <br>
          <input type="file" value="Browse" style="btn btn-defualt" name="photo">
           <br>

          <input  type="submit" value="Create!" class="btn btn-success" style="font-size:30px">
      </form>
        <!--In case of an error -->
        {% if error != None: %}
<p class="text-danger bg-danger"style="font-family: 'Shadows Into Light', cursive;font-size:25px" ><strong>Error:</strong> {{ error }}</p>      {% endif %}
    </div>


    <div class="container">
      <a href="/events/view"><button class="btn btn-default">View events</button></a>
  </div>



    </body>
</html>