<htmL>
  <head>
    <title>Docs  |  Locomotive</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

            <meta name="viewport" content="width=device-width, initial-scale=1">

            <!-- Adding necessary JS and CSS files -->
           <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" type="text/css">
        <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
        <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>

<style>
div{
  font-family: Raleway;

}
</style>
</head>

<body>

    <h1 style="font-family:Raleway;" align="center"> What is Locomotive</h1>

    <div class="container">



  <br><br><br><br>
  <div id="table_of_contents">
    Table of Contents:
    <ul>
      <a href="#what_is_locomotive"><li>What is Locomotive</li></a>
      <a href="#how_to"><li>How to use Locomotive</li></a>
      <a href="#create_user"><li>Create a User</li></a>
      <a href="#logging_in_and_sidebar"><li>Logging in and introduction to the sidebar </li></a>
      <a href="#create_view_events"><li>Creating and Viewing Events</li></a>
      <a href="#attend_and_contact"><li>Attending Events and Contacting Users</li></a>
      <a href="#forgot_password"><li>Forgot Password</li></a>
      <a href="#edit_or_delete"><li>Editing or Deleting Users/Events</li></a>
      <a href="#if_not_work"><li>What to do if Something doesn't work</li></a>
      <a href="#suggestions"><li>Suggestions and Improvements</li></a>
      <a href="#how_it_works"><li>How does Locomotive work </li></a>
    </ul>

<div id="what_is_locomotive">

</div>

  </div>












</div>
</body>



</htmL>
