<htmL>
  <head>
    <title>Docs  |  Locomotive</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

            <meta name="viewport" content="width=device-width, initial-scale=1">

            <!-- Adding necessary JS and CSS files -->
           <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" type="text/css">
        <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
        <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>

<style>
div{
  font-family: Raleway;

}
</style>
</head>

<body>

    <h1 style="font-family:Raleway;" align="center"> What is Locomotive</h1>

    <div class="container">



  <br><br><br><br>
  <div id="table_of_contents">
    <h2>Table of Contents:<h2>
    <h3>
    <ul>
      <a href="#what_is_locomotive"><li>What is Locomotive</li></a>
      <a href="#create_user"><li>Create a User</li></a>
      <a href="#logging_in_and_sidebar"><li>Logging in and introduction to the sidebar</li></a>
      <a href="#create_view_events"><li>Creating and Viewing Events</li></a>
      <a href="#attend_and_contact"><li>Attending Events and Contacting Users</li></a>
      <a href="#forgot_password"><li>Forgot Password</li></a>
      <a href="#edit_or_delete"><li>Editing or Deleting Users/Events</li></a>
      <a href="#if_not_work"><li>What to do if Something doesn't work</li></a>
      <a href="#suggestions"><li>Suggestions and Improvements</li></a>
      <a href="#how_it_works"><li>How does Locomotive work </li></a>
    </ul>
  </h3>
    </div>
    <br><br><br>

<div id="what_is_locomotive">
  <h2>What is Locomotive?</h2>
  <h3>
  Locomotive is an open-source, event-driven, carpooling service for the community of Auroville developed by Aarnav; art and design from Bhavyo and Tara; powered with great documentation from Ahilya!
  Locomotive aims to reduce harassment incidents happening around Auroville by getting the community to travel together.<br>
  Locomotive will provide community made event data that will allow users to browse events happening in and around Auroville. A user may go to any public event.<br>
  Any user can contact another to request to go to the event together if they both are attending the event.<br>
  With this we minimize people travelling alone and make the community safer with numbers.<br>
  </h3>
</div>
<br><br>

<div id="create_user">
<h2>Create a User</h2>
<h3>
To use Locomotive, you must sign up(<a href="/create">Sign Up</a>)Each user is verified and made sure they are a part of Auroville, be it Newcomer, Guest or Aurovillian.
An email will be sent to the address of the user to verify.
A link will be provided in the email that the users must click to activate their Locomotive account.
Log-in via the username and password you created the user with.
</h3>
</div>
<br><br>

<div id="loggin_in_and_sidebar">
<h2>Logging in and introduction to the sidebar</h2>
<h3>
After creating a user and activating it, you can login at <a href="/login">Login</a>. If you entered the username and password correctly, you will be redirected to the homepage.
<br>
You'll be presented with a list of events you are attending, currently it is none since you have just signed up. If you press the circular button it will open the sidebar.
This is available on almost everypage to help you navigate through Locomotive.
</h3>
</div>
<br><br>

<div id="create_view_events">
<h2>Creating and Viewing Events</h2>
<h3>
There are two types of events, public and private.<br>Public Events: Are visible for all and everyone can come.<br>Private Events: are only visible to those who you give the link to.<br>
<br>
In order to create an event, first off, make sure it doesn't already exsist if you are adding it from News and Notes or from any other source.<br>
If the event doesn't already exsist, you can add it! Open your sidebar by pressing the circular button with the Locomotive logo, and then press Create Event.

You'll be redirected to a page. Enter all the fields with the required information. Make sure the entered information is correct and press Create!<br><br>
You can view all public events  at <a href="/events/view">View Events</a>.You can search them by name on the text-bar there.<br><br>

If you click on the event name to view it, you'll be greeted with the name of the event and an image if you included one.Scroll down to see event data, under event data there'll be the map showing you the location of the event and where you live to provide a route. At the end, you'll see who is coming and you can search users coming.

</h3>
</div>
<br><br>

<div id="attend_and_contact">
<h2>Attending Events and Contacting Users</h2>
<h3>
  To attend an event, navigate to it by either searching it at <a href="/events/all">View Events</a> or by clicking the link given to you.<br>
  Go to the third page of the event, and press the "Go To" button. This will add you to the list of users going and add it to your attending list which you can see on your homepage.
  Users may now contact you if they wish to travel with you. Your email address will not be displayed and the message will be sent using the Locomotive server.
  Like this you can choose if you wish to reply and go with them. And the user cannot spam you as they don't know your email.
  <br><br>
  To contact a user, click on their name on the list. You'll be presented with a pop-up box to enter your message to them.
  In the message, you must include(click here for an example message: <a href="#example_req_message">Example Message</a>):
  <ul>
    <li>
      Your name and the event name
    </li>
    <li>
      Your phone number or email for them to contact you
    </li>
    <li>
      From where you wish to travel from, and time.
    <li>
      A polite request
    </li>
  </ul>
  <div id="example_req_message">
  An example request would be:<br><br>
  Hey Duff Mckagan,<br>
  My name is Axl Rose. I am contacting you regarding the Guns and Roses concert at Bharat Nivas. I saw that you're going too!<br>
  I rather not travel alone at night. Would you like to accompany me? I plan to leave by 9:00PM from New Creation and head to Bharat Nivas by bike.
  <br>
  Let me know at axlrose@gnfnr.com
  <br>
  Thanks,<br>
  Axl
  </div>
  <br>
  <br>
  The user will get a notification that you have emailed them regarding the event  when they login and then they can respond if they want to.
</h3>
</div>
<br><br>

<div id="forgot_password">
<h2>Forgot Password</h2>
<h3>
  If you forgot your password,there is a way to recover it.<br> Go to the login page and near the create user button, there will  be a link saying 'Forgot Password'.<br>
  Click on that and you will be redirected to the forgot password page.Here, you will have to enter your username and the email address you registered with.<br>If they match,
  you will get an email from us with a link you must click to reset your password. Click on the link, enter your password twice to make sure they match and press submit.
  Now you can login with your new password.
</h3>
</div>
<br><br>

<div id="edit_or_delete">
<h2>Editing or Deleting Users/Events</h2>
<h3>
  If you wish to change your password, your emailID, or simply delete your user ID if you do not wish to use Locomotive
  anymore for whatever reason, here's how it's done:
  <br>
  Click the 'Edit User' option on the sidebar and you will be redirected to your user edit page.<br>
  You cannot change your username for verification reasons, but the rest of the fields you can!<br>
  You are required to give your old password before changing to make sure if it's actually you.<br>
  If you want to delete your user ID, click on the delete button and confirm it.

  <br><br>
  If by accident you enter incorrect information while creating an event, you have two choices:
  <br>
  Either delete the event and re-create it, or edit the event.<br>
  To delete it, navigate to 'My Events' from the sidebar.Once there, you will see a list of your events, next to the event name, there will be an edit sign displayed in red.
  Click it.
  <br>
  Here you can edit the event. All the fields have their previous value for you to see if they need any changes.
  <br>
  To delete it scroll all the way down to the end of the page and press the Delete button in red and confirm.
  <br>
  If you want to edit, edit the event and press the green button and confirm changes. You will get an email with the changes commited.
</h3>
</div>
<br><br>

<div id="if_not_work">
<h2>What to do if Something doesn't work</h2>
<h3>
  If you can't create a user ID, can't view an event, can't create an event, if something doesn't work that should, please contact us at <a href="/">Contact Us</a><br>
  Make sure to tell us what's wrong and we'll try to get back to you as soon as possible. If you notice something that shouldn't be there, such as an error, please let us know!
</h3>
</div>
<br><br>

<div id="suggestions">
<h2>Suggestions and Improvements</h2>
<h3>
  If you have got feedback on the service, if you see a thing or two that could be improved, or if you have any questions, let us know!
</h3>
</div>
<br><br>

<div id="how_it_works">
<h2>How does Locomotive work </h2>
<h3>
  Locomotive is free and open source. All our code is available for free on our github(<a href="https://github.com/R9295/Locomotive">Locomotive</a>)
  All our code is available with great documentation to help you get started. We're GPL-3.0 licensed.
</h3>
</div>
<br><br>






</div>
</body>



</htmL>
