<!DOCTYPE html>
<html lang="en">
<head>
<link href='https://fonts.googleapis.com/css?family=Indie+Flower|Shadows+Into+Light|Rock+Salt|Covered+By+Your+Grace' rel='stylesheet' type='text/css'>


    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
   <link href="{{url_for('static', filename='font-awesome.min.css')}}" rel="stylesheet" type="text/css">

<style>
    .form_font{
    font-family: 'Shadows Into Light', cursive;font-size:30px;
    {
.make_input_bigger{
    font-family: 'Shadows Into Light', cursive;font-size:30px"
    }
</style>
        <meta charset="UTF-8">
    <title>Edit {{var.name}}</title>
</head>
<body style="background-color:whitesmoke;">

 <nav class="navbar navbar-inverse ">


  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand " style="font-family: 'Rock Salt', cursive;font-size:15px">Logged in as {{user_in_use}}</a>
    </div>
    <ul class="nav navbar-nav">

      <li><a href="/">Home</a></li>


        <li><a href="/events/create">Create an Event</a></li>
      <li><a href="/events/view">View Events</a></li>
        <li class="navbar-left"><a href="/events/all/past"> View past events</a>

        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" >Events I Created
        <span class="caret"></span></a>

        <ul class="dropdown-menu">
            {%for my_eventz in my_events: %}
            <li><a href="/events/{{my_eventz.name}}">{{my_eventz.name}}</a></li>
            {% endfor %}
        </ul>
      </li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Edit my events
        <span class="caret"></span></a>

        <ul class="dropdown-menu">
            {%for my_eventz in my_events: %}
            <li><a href="/events/edit/{{my_eventz.name}}">{{my_eventz.name}}</a></li>
            {% endfor %}
        </ul>
      </li>




        </li>




        <li class="navbar-left">
        <a class="dropdown-toggle" data-toggle="dropdown" >User options
        <span class="caret"></span></a>

        <ul class="dropdown-menu">
            <li><a href="/login">Logout</a></li>
            <li><a href="/{{user_in_use}}/edit">Edit User</a> </li>
        </ul>
      </li>

        <li>
            <form class="navbar-form navbar-right" method="post">

                    <input type="text" class="form-control" placeholder="Search Events">
                    <input type="submit" class="btn btn-success" value="search">
          </form>
        </li>



    </ul>

  </div>
 </nav>






    <div class="container">
      <h1 style="font-family: 'Shadows Into Light', cursive;font-size: 75px">Edit {{var.name}}</h1>
      <br>
      <form action="" method="post" id="ww" name="edit" enctype="multipart/form-data" class="form_font">
       Name of the Event
          <br>
          <input type="text"  name="name" value="{{var.name}}" class="form-control form_font" >
          <br>
          <br>
       Email of host
          <br>
          <input type="text"  name="email" value="{{var.email}}" class="form-control form_font">
          <br>
          <br>
          Venue
          <br>
          <input type="text" name="venue" value="{{var.venue}}" class="form-control form_font">
          <br>
          <br>
          Address(Will auto search GoogleMaps for you)
          <br>
          <input type="text"  name="address" value="{{var.address}}" class="form-control form_font">
          <br>
          <br>
       Description
          <br>
            <textarea class="form-control form_font" rows="7" placeholder="" name="description" >{{var.description}}</textarea>
          <br>
          <br>
       Phone Number of host
          <br>
          <input type="text"  name="phone_number" value="{{var.phone_number}}" class="form-control form_font">
          <br>
          <br>
       Time event starts
          <br>
          <input type="text" name="time" value="{{var.time}}" class="form-control form_font">
          <br>
          <br>
       Duration of event
          <br>
          <input type="text"  name="duration" value="{{var.duration}}" class="form-control form_font">
          <br>
          <br>
          Date(Please re enter your dates. If you didn't want to change them, their values are {{var.date}} as Year-Month-Day):
          Year
          <input type="text" placeholder=" Example: 2016" name="year" class="form-control form_font">
       Month
          <input type="text" placeholder="Example: 12" name="month" class="form-control form_font">
       Day
          <input type="text" placeholder="Example: 6" name="day" class="form-control form_font">
          <br>
       Images!
          <br>
          <input type="file" value="Browse" style="btn btn-defualt" name="photo">
           <br>

</form>

</div>

<script>
function myFunction() {
    var x;
    if (confirm("Are you sure you wont to commit these changes?") == true) {
       ww.submit();
    } else {
        x = "You pressed Cancel!";
    }
  }
</script>
<script>
function del() {
    var x;
    if (confirm("Are you sure you want to delete {{var.name}}") == true) {
       window.location="/delete/{{var.name}}"
    } else {
        x = "You pressed Cancel!";
    }
  }
</script>


<div class="container form_font">
          {% if error %}
        <p class="text-danger bg-danger"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
    <button onclick="myFunction()" class="btn btn-success" style="font-size:20px;">Confirm Changes</button><br>
    <button onclick="del()" class="btn btn-danger" style="font-size:20px;">Delete {{var.name}}</button><br>
    <a href ="/"><button class="btn btn-default" style="font-size:20px;" >Cancel</button></a>

</div>



</body>
</html>