<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
   <link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Edit event</title>

</head>
<body>
<a href="/login" align="left" style="color:black;position:absolute;right:0px;"><button>logout</button></a>

{% for wololo in var %}
    <a href="/events/edit/{{wololo.name}}">{{wololo.name}}</a>
{% endfor %}
</body>
</html>