<html>



        <head>
            <title>Edit {{var.name}}</title>

            <!-- connecting to Google Fonts API -->
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

        <!--Adding necessary CSS and JS files -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" type="text/css">
        <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
        <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
        <link href="{{url_for('static', filename='font-awesome.min.css')}}" rel="stylesheet" type="text/css">
         <link href="{{url_for('static', filename='simple-sidebar.css')}}" rel="stylesheet" type="text/css">

        <!-- style for form fonts and input -->
        <style>
            .form_font{
                font-family: 'Raleway', cursive;font-size:20px;
              }
                       
            .make_input_bigger{
                font-family: 'Raleway', cursive;font-size:20px";
                        }
        </style>



</head>

    <body style="background-color:whitesmoke;">


 <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Logged in as {{user_in_use}}
                    </a>
                </li>
                <li>
                    <a href="/{{user_in_use}}">Home</a>
                </li>
                <li>
                    <a href="/events-of/{{user_in_use}}">My Events</a>
                </li>
                <li>
                    <a href="/events/create">Create Event</a>
                </li>
                <li>
                    <a href="/events/view">View Events</a>
                </li>
                <li>
                    <a href="/events/all/past">View Past Events</a>
                </li>
                <li>
                    <a href="/{{user_in_use}}/edit">Edit User</a>
                </li>
                <li>
                    <a href="/logout/{{user_in_use}}">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>






    <div class="container">
      <h1 style="font-family: 'Raleway', cursive;font-size: 75px">Edit {{var.name}}</h1>
      <br>
      <form action="" method="post" id="ww" name="edit" enctype="multipart/form-data" class="form_font">

          Name of the Event
          <br>
          <input type="text"  name="name" value="{{var.name}}" class="form-control form_font" >
          <br>
          <br>

          Email of host
          <br>
          <input type="text"  name="email" value="{{var.email}}" class="form-control form_font">
          <br>
          <br>

          Venue
          <br>
          <input type="text" name="venue" value="{{var.venue}}" class="form-control form_font">
          <br>
          <br>

          Address(Will auto search Maps for you)
          <br>
          <input type="text"  name="address" value="{{var.address}}" class="form-control form_font">
          <br>
          <br>

          Description
          <br>
            <textarea class="form-control form_font" rows="7" placeholder="" name="description" >{{var.description}}</textarea>
          <br>
          <br>

          Phone Number of host
          <br>
          <input type="text"  name="phone_number" value="{{var.phone_number}}" class="form-control form_font">
          <br>
          <br>

          Time event starts
          <br>
          <input type="text" name="time" value="{{var.time}}" class="form-control form_font">
          <br>
          <br>

          Duration of event
          <br>
          <input type="text"  name="duration" value="{{var.duration}}" class="form-control form_font">
          <br>
          <br>

          Date(If you didn't want to change them, their values are {{var.date}} as Year-Month-Day):
          Year
          <input type="text" value="{{var.date[0:4]}}" name="year" class="form-control form_font">

          Month
          <input type="text" value="{{var.date[5:7]}}" name="month" class="form-control form_font">

          Day
          <input type="text" value="{{var.date[8:10]}}" name="day" class="form-control form_font">
          <br>

          Images!
          <br>
          <input type="file" value="Browse" style="btn btn-defualt" name="photo">
           <br>

</form>

</div>

<!-- script to confirm if the changes should be committed -->
<script>
function myFunction() {
    var x;
    if (confirm("Are you sure you wont to commit these changes?") == true) {
       ww.submit();
    } else {
        x = "You pressed Cancel!";
    }
  }
</script>

<!-- script to confirm if the deletion of the user -->
<script>
function del() {
    var x;
    if (confirm("Are you sure you want to delete {{var.name}}") == true) {
       window.location="/delete/{{var.name}}"
    } else {
        x = "You pressed Cancel!";
    }
  }
</script>


<div class="container form_font">
    <!-- If error -->
    {% if error %}
    <p class="text-danger bg-danger"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
    <!-- commits the function after confirmed changes or deletion -->
    <button onclick="myFunction()" class="btn btn-success" style="font-size:20px;">Confirm Changes</button><br>
    <button onclick="del()" class="btn btn-danger" style="font-size:20px;">Delete {{var.name}}</button><br>
    <a href ="/{{user_in_user}}"><button class="btn btn-default" style="font-size:20px;" >Cancel</button></a>

</div>



</body>
</html>