<!DOCTYPE html>
<html lang="en">
<head>


    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
   <link href="{{url_for('static', filename='font-awesome.min.css')}}" rel="stylesheet" type="text/css">
<nav class="navbar navbar-inverse">


  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >Logged in as {{user_in_use }}</a>
    </div>
    <ul class="nav navbar-nav">

      <li class="active"><a href="/">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Events I Created
        <span class="caret"></span></a>

        <ul class="dropdown-menu">
            {%for my_eventz in my_events: %}
            <li><a href="/events/{{my_eventz.name}}">{{my_eventz.name}}</a></li>
            {% endfor %}
        </ul>
      </li>

        <li><a href="/events/create">Create an Event</a></li>
      <li><a href="/events/view">View Events</a></li>

        <li class="navbar-left">
        <a class="dropdown-toggle" data-toggle="dropdown" >User options
        <span class="caret"></span></a>

        <ul class="dropdown-menu">
            <li><a href="/login">Logout</a></li>
            <li><a href="/{{user_in_use}}/edit">Edit User</a> </li>
        </ul>
      </li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Edit my events
        <span class="caret"></span></a>

        <ul class="dropdown-menu">
            {%for my_eventz in my_events: %}
            <li><a href="/events/edit/{{my_eventz.name}}">{{my_eventz.name}}</a></li>
            {% endfor %}
        </ul>
      </li>
        <li>
            <form class="navbar-form navbar-right" method="post">

                    <input type="text" class="form-control" placeholder="Search Events">
                    <input type="submit" class="btn btn-success" value="search">


            </form>
        </li>
    </ul>

  </div>
 </nav>


    <meta charset="UTF-8">
    <title>Edit {{var.name}}</title>
</head>
<body>

    <div class="container">
      <h1>Edit {{var.name}}</h1>
      <br>
      <form action="" method="post" id="ww" name="edit" enctype="multipart/form-data">
       Name of the Event
          <br>
          <input type="text"  name="name" value="{{var.name}}" class="form-control">
          <br>
          <br>
       Email of host
          <br>
          <input type="text"  name="email" value="{{var.email}}" class="form-control">
          <br>
          <br>
          Venue
          <br>
          <input type="text" name="venue" value="{{var.venue}}" class="form-control">
          <br>
          <br>
          Address(Will auto search GoogleMaps for you)
          <br>
          <input type="text"  name="address" value="{{var.address}}" class="form-control">
          <br>
          <br>
       Description
          <br>
            <textarea class="form-control" rows="7" placeholder="" name="description">{{var.description}}</textarea>
          <br>
          <br>
       Phone Number of host
          <br>
          <input type="text"  name="phone_number" value="{{var.phone_number}}" class="form-control">
          <br>
          <br>
       Time event starts
          <br>
          <input type="text" name="time" value="{{var.time}}" class="form-control">
          <br>
          <br>
       Duration of event
          <br>
          <input type="text"  name="duration" value="{{var.duration}}" class="form-control">
          <br>
          <br>
       Year
          <input type="text" placeholder=" Example: 2016" name="year" class="form-control">
       Month
          <input type="text" placeholder="Example: 12" name="month" class="form-control">
       Day
          <input type="text" placeholder="Example: 6" name="day" class="form-control">
          <br>
       Images!
          <br>
          <input type="file" value="Browse" style="btn btn-defualt" name="photo">
           <br>

</form>
      {% if error %}
        <p class="text-danger bg-danger"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
</div>

<script>
function myFunction() {
    var x;
    if (confirm("Are you sure you wont to commit these changes?") == true) {
       ww.submit();
    } else {
        x = "You pressed Cancel!";
    }
  }
</script>
<script>
function del() {
    var x;
    if (confirm("Are you sure you want to delete {{var.name}}") == true) {
       window.location="/delete/{{var.name}}"
    } else {
        x = "You pressed Cancel!";
    }
  }
</script>


<div class="container">
    <button onclick="myFunction()" class="btn btn-success">Confirm Changes</button><br>
    <button onclick="del()" class="btn btn-danger">Delete {{var.name}}</button><br>
    <a href ="/"><button class="btn btn-default">Cancel</button></a>

</div>



</body>
</html>