<!DOCTYPE html>
<html lang="en">
<head>
<title>{{var.name}}</title>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
   <link href="{{url_for('static', filename='font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='reveal.css')}}" rel="stylesheet" type="text/css">
     <script src="{{url_for('static',filename='reveal.js')}}"></script>
    <link href="{{url_for('static', filename='simple-sidebar.css')}}" rel="stylesheet" type="text/css">

 <link rel="stylesheet" href="{{url_for('static',filename='leaflet.css')}}">
  <script type="text/javascript" src="{{url_for('static',filename='leaflet.js')}}"></script>


<style>
    .form_font{
    font-family: 'Raleway', cursive;font-size:30px;
    }
</style>
  <style>



    body { margin:0; padding:0; }
    .map { position:absolute; top:0; bottom:0; width:100%; }



  </style>


</head>


<body>
<div class="reveal">
    <div class="slides">

                <section style="font-size:40px;" data-background-image="var['image']">{{var['name']}}</section>

                <section style="font-size:20px;"><h1>Event Data!</h1><br>
                                       Event created by:
                                        {{var.who_made_me}}
                                        <br>

                                        Event Name:
                                        {{var.name}}
                                        <br>

                                        When added:
                                        {{var['when_made']}}
                                        <br>

                                        Host's Email:
                                        {{var.email}}
                                        <br>

                                        Host's phone number:
                                        {{var.phone_number}}
                                        <br>

                                        Event Location:
                                        {{var.venue}}
                                        <br>

                                        Event Address:
                                        {{var.address}}
                                        <br>

                                        Event's Description:
                                        {{var.description}}
                                        <br>

                                        When the event is happening:
                                        {{var.date}}
                                        <br>

                                        Event Begins at:
                                        {{var.time}}
                                        <br>

                                        Event duration:
                                        {{var.duration}}
                                        <br>


                                        </section>


                                        <section>
                                        <div id="map" style="height:500px; width:500px"></div>

                            
                                         </section>
                                         <section>
                                             
          {% if past != True: %}
<form action="/goto/{{var.name}}">
    <input type="submit" value="Go to!" class="btn btn-success" style="font-size:25px;">
<br><br>
</form>
{% endif %}

<form method="post" id="xd">
    <input type="text" name="search" id="search">

</form>
<br>
<br>


    <div align="right">
    Who's coming:
    <br>

{% for people in var.who_is_coming %}
    {{ people}}<a href="/email/{{people}}"><button class="btn btn-default">Email</button></a>
    <a href="/request/phone_number/{{people}}"><button class="btn btn-default">Request phone number</button></a><br>
{% endfor %}
</div>


<script>
//real time search

    $('#search').keyup(function(){
    var search_term = $(this).val();

$.ajax({
  type: "POST",
  contentType: "application/json; charset=utf-8",
  url: "/events/{{var.name}}",
  data: JSON.stringify({'search': search_term}),
  success: function (data) {
    var reply = ""
    for (i = 0; i < data.results.length; i++){

    reply = reply
    +data.results[i]
    +'<a href="/email/'
    +data.results[i]
    +'"><button class="btn btn-default">Email</button></a>'
    +'<a href="/request/phone_number/'
    +data.results[i]+'"><button class="btn btn-default">Request phone number</button></a><br>'

    }
    $("#results").html(reply);


  },
  dataType: "json"
});




    });

</script><div id="results"></div>


                                         </section>


            </div>
        </div>
<script>


   
</script>
 <script>
// If slide  == 2 load the map as there were a lot of bugs when reveal tried to load the maps at the start of the presentation.


            Reveal.addEventListener( 'slidechanged', function( event ) {
            if (event.indexh == 2){ //
                var map = L.map('map').setView([{{lat}},{{lng}}], 16)
                ;
L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}',
{
    maxZoom:18,
    id: 'aarnav.pnnpakbn',
    accessToken: '{{key}}'
}).addTo(map);

var marker = L.marker([{{lat}},{{lng}}]).addTo(map);
        marker.bindPopup("This is where {{var.name}} is happening!<br>Venue:{{var.venue}}").openPopup();

        var p = L.marker([{{user_lat}},{{user_lng}}]).addTo(map);
        p.bindPopup("This is where you live!").openPopup();
             }
} );

    Reveal.initialize();        
        </script>

</body>

</html>