<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{var.name}}</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>


      <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" type="text/css">
      <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
      <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
  <link href="{{url_for('static', filename='buttons.css')}}" rel="stylesheet" type="text/css">
      <link href="{{url_for('static', filename='simple-sidebar.css')}}" rel="stylesheet" type="text/css">
   <link rel="stylesheet" href="{{url_for('static',filename='leaflet.css')}}">
   <script src="{{url_for('static', filename='leaflet.js')}}"></script>
  <style>
      .form_font{
      font-family: 'Raleway', cursive;font-size:30px;
      }
  </style>
    <!-- Bootstrap Core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/one-page-wonder.css" rel="stylesheet">
</head>

<body style="background-image: url('/static/img/background.jpg ');" >
    <!-- Full Width Image Header -->
    {% if var['image'] != None: %}
    <header class="header-image" style="background-image: url('/static/img/{{var['image']}}');">
      {% else %}
    <header class="header-image" style="background-color:black;color:white;">
    {% endif %}

        <div class="headline">
            <div class="container">
                <h1>{{var['name']}}</h1>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about" style="color:white;">
            <h2 class="featurette-heading">Event data,
                <span class="text-muted">all about {{var['name']}}</span>
            </h2>

            <h1 align="center" style="color:white;">{{var['name']}}</h1>
              <div class="container" align="center" style="font-family: Raleway;color:white;">
                <h3>
                                 Event created by:
                                  {{var.who_made_me}}
                                  <br><br>

                                  Event Name:
                                  {{var.name}}
                                  <br><br>

                                  When added:
                                  {{var['when_made']}}
                                  <br>

                                  Host's Email:
                                  {{var.email}}
                                  <br><br>

                                  Host's phone number:
                                  {{var.phone_number}}
                                  <br>

                                  Event Location:
                                  {{var.venue}}
                                  <br>

                                  Event Address:
                                  {{var.address}}
                                  <br>

                                  Event's Description:
                                  {{var.description}}
                                  <br>

                                  When the event is happening:
                                  {{var.date}}
                                  <br>

                                  Event Begins at:
                                  {{var.time}}
                                  <br>

                                  Event duration:
                                  {{var.duration}}
                                  <br>
                              </h3>        </div>

        <hr class="featurette-divider">


        <!-- Second Featurette -->
        <div class="featurette" id="services" style="color:white;">
            <h2 class="featurette-heading">Map,
                <span class="text-muted">location of the event</span><br>
                <div id="map" style="width: 200%; height: 500px;"></div>
            </h2>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact" style="color:white;" >
            <h2 class="featurette-heading">Attend Event,
                <span class="text-muted">go to {{var['name']}}</span>
                <br>

                {% if past != True: %}

          <a href="/goto/{{var['name']}}"><input type="submit" value="Go to!" class="btn btn-success"></a>
          <a href="/ungo/{{var['name']}}"><input type="submit" value="Un-go to" class="btn btn-danger"></a>
      {% endif %}

      <form method="post" id="xd">
        <div class="col-xs-4" align="left">
          <input class="form-control" name="search" id="search" type="text">
        </div>
      </form>
    <div align="right">
          Who's coming:
          <br>
      {% for people in var.who_is_coming %}
          <h4><a data-toggle="modal" data-target="#exampleModal" data-whatever="{{people}}">{{people}}</a></h4>
      {% endfor %}
      <div id="results" align="left"></div>

      </div>

</div>

<div id="modal"></div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel"></h4>
        </div>
        <div class="modal-body" style="font-family: Raleway;" style="color:black;">
          Write a message to the user to see if they can travel with you.<br><br>
          In the message, you must include the following:<br>
          <ul>
            <li>
              Your name
            </li>
            <li>
              Your email address or phone number
            </li>
            <li>
              The name of the event
            </li>
          </ul>
          <br>
          Without these, the user may not know what you mean exactly.<br>
          <br>
          Please look at this link if you are not sure how the message should look like:<br>
          <a href="locomotive.auroville.org.in/docs/#example_req_message">Example Message</a>
          <br><br>
          <form method="post">
            <br>
            <br>
            <div class="form-group">
              User to:<br>
              <input type="text" class="form-control" name="user_to" id="user_to"  readonly="readonly"><br>
              <label for="message-text" class="control-label">Message:</label>
              <textarea class="form-control" id="message-text" name="message" placeholder="Write a request message to ask the user if they can come with you."></textarea>
              <br>
              <button type="submit" class="btn btn-primary">Send message</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
        <hr class="featurette-divider">

    <!-- /.container -->

    <script>
    //Initialising Map
    var map = L.map('map').setView([{{lat}},{{lng}}], 16);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}',
    {
    maxZoom:25,
    id: 'aarnav.pnnpakbn',
    accessToken: '{{key}}'
    }).addTo(map);

    //setting markers
    var marker = L.marker([ {{lat}},{{lng}} ]).addTo(map);
    marker.bindPopup("<h4 style='color:black;'>This is where {{var['name']}} is happening!"+"<br>"+"Venue:{{var['venue']}}</h4>").openPopup();

    var p = L.marker([ {{user_lat}},{{user_lng}} ]).addTo(map);
    p.bindPopup("<h4 style='color:black;'>This is where you live!</h4>").openPopup();

    //real time search
    $('#search').keyup(function(){
    var search_term = $(this).val();

    $.ajax({
      type: "POST",
      contentType: "application/json; charset=utf-8",
      url: "/search/user",
      data: JSON.stringify({'search': search_term, 'event'  :  '{{var['name']}}' }),
      success: function (data) {
        var reply = "Search results:"
        //    <a data-toggle="modal" data-target="#exampleModal" data-whatever="{{people}}">{{people}}</a>
        for (i = 0; i < data.results.length; i++){
         reply = reply+'<br>'
        +'<h4><a data-toggle="modal" data-target="#exampleModal" data-whatever="'+data.results[i]+'">'+data.results[i]+'</a></h4>'
    }
        $("#results").html(reply);
      },
      dataType: "json"
    });
    });
    //modal name append
    $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var recipient = button.data('whatever') // Extract info from data-* attributes
      var modal = $(this)
      modal.find('.modal-title').text(' Request to travel with ' + recipient)
      document.getElementById("user_to").value = recipient;
    });
    </script>


</body>

</html>
