<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user_in_use}} | Events</title>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

        <!--Importing necessary JS and CSS files -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" type="text/css">
        <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
        <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
        <link href="{{url_for('static', filename='font-awesome.min.css')}}" rel="stylesheet" type="text/css">
        <link href="{{url_for('static', filename='simple-sidebar.css')}}" rel="stylesheet" type="text/css">
</head>
<body>    <!-- Navbar -->
 <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Logged in as {{user_in_use}}
                    </a>
                </li>
                <li>
                    <a href="/{{user_in_use}}">Home</a>
                </li>
                <li>
                    <a href="/events-of/{{user_in_use}}">My Events</a>
                </li>
                <li>
                    <a href="/events/create">Create Event</a>
                </li>
                <li>
                    <a href="/events/view">View Events</a>
                </li>
                <li>
                    <a href="/events/all/past">View Past Events</a>
                </li>
                <li>
                    <a href="/{{user_in_use}}/edit">Edit User</a>
                </li>
                <li>
                    <a href="/logout/{{user_in_use}}">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>


<div align="center">
<h1 style="color:black;">{{user_in_use}}'s Events:</h1>
</div>
<br><br><br>
    {% for i in my_events: %}
<div align="center"><h3 style="font-family: 'Raleway', cursive;font-size: 50px"><a href="/events/{{i}}" > {{i}}</a>  <a href="/events/edit/{{i}}" style="color:red;"> edit </a> </h3></div><br><br>
<br>
{% endfor %}
</div>



</body>
</html>