<html>



    <head>
        <!--Google Fonts API -->
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

        <!--Importing necessary JS and CSS files -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" type="text/css">
        <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
        <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
        <link href="{{url_for('static', filename='buttons.css')}}" rel="stylesheet" type="text/css">
        <link href="{{url_for('static', filename='simple-sidebar.css')}}" rel="stylesheet" type="text/css">
<!-- style and script to popup text when hovered over -->
<style>
    .a{
    font-family: 'Raleway', cursive;
    }
        body { 
  background: url('/static/img/home.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

</style>



    <title>{{user['name']}}  |   Home</title>
</head>
    <!-- background image -->
    <body>
    <!-- Navbar -->
 <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Logged in as {{user['name']}}
                    </a>
                </li>
                <li>
                    <a href="/{{user['_id']}}">Home</a>
                </li>
                <li>
                    <a href="/events-of/{{user['_id']}}">My Events</a>
                </li>
                <li>
                    <a href="/events/create">Create Event</a>
                </li>
                <li>
                    <a href="/events/view">View Events</a>
                </li>
                <li>
                    <a href="/events/all/past">View Past Events</a>
                </li>
                <li>
                    <a href="/{{user['_id']}}/edit">Edit User</a>
                </li>
                <li>
                  <a href="/notifications/{{user['_id']}}">Notifications! {% if user['notifications'] != 0 %} <h3 style="color:green;">{{user['notifications']}}</h3>{% endif %}      </a>

                </li>
                <li>
                    <a href="/logout/{{user['_id']}}">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                      <a href="#menu-toggle" class="button button-circle" style="background : url('/static/img/logo.jpg')" id="menu-toggle"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>


<!-- List of events the user is attending -->
 <div class="container a">
<h1 style="font-family: 'Raleway', cursive;font-size:50px;color:white;">Events you are attending:</h1>

{% for t in going_to: %}
<h1><a href="/events/{{t['id']}}" style="font-family: 'Raleway', cursive;font-size:35px">{{t['name']}}</a></h1>
{% endfor %}
<br>
 <br><br><br>


</div>


<!-- More data will be displayed on the home page-->



</body>
</html>
