<html>



    <head>
        <!--Google Fonts API -->
        <link href='https://fonts.googleapis.com/css?family=Indie+Flower|Shadows+Into+Light|Rock+Salt|Covered+By+Your+Grace' rel='stylesheet' type='text/css'>

        <!--Importing necessary JS and CSS files -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" type="text/css">
        <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
        <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
        <link href="{{url_for('static', filename='font-awesome.min.css')}}" rel="stylesheet" type="text/css">

<!-- style and script to popup text when hovered over -->
<style>
    .a{
    font-family: 'Shadows Into Light', cursive;
    }
    .a:hover{
    text-transform: uppercase;
    font-size:30px
    }
    img{
    max-width:100%
    height:auto;

    }
    div.img {
    margin: 15px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}


div.desc {
    padding: 15px;
    text-align: center;
}
</style>
<script>
    $('table div')
    .on('mouseenter', function(){
        var div = $(this);
        div.stop(true, true).animate({
            margin: -10,
            width: "+=20",
            height: "+=20"
        }, 'fast');
    })
    .on('mouseleave', function(){
        var div = $(this);
        div.stop(true, true).animate({
            margin: 0,
            width: "-=20",
            height: "-=20"
        }, 'fast');
    })

</script>




    <title>{{user['name']}} Home</title>
</head>
    <!-- background image -->
    <body style="background-image: url('static/img/fnr.png');background-size:cover;" >

    <!--navbar -->
 <nav class="navbar navbar-inverse ">


  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand " style="font-family: 'Rock Salt', cursive;font-size:15px">Logged in as {{user['name']}}</a>
    </div>
    <ul class="nav navbar-nav">

      <li><a href="/">Home</a></li>


        <li><a href="/events/create">Create an Event</a></li>
      <li><a href="/events/view">View Events</a></li>
        <li class="navbar-left"><a href="/events/all/past"> View past events</a>

        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" >Events I Created
        <span class="caret"></span></a>

        <ul class="dropdown-menu">
            {%for x in events: %}
            <li><a href="/events/x}}">{{x}}</a></li>
            {% endfor %}
        </ul>
      </li>

        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" >Edit my events
        <span class="caret"></span></a>

        <ul class="dropdown-menu">
            {%for x in events: %}
            <li><a href="/events/edit/{{x}}">{{x}}</a></li>
            {% endfor %}
        </ul>
      </li>









        <li class="navbar-left">
        <a class="dropdown-toggle" data-toggle="dropdown" >User options
        <span class="caret"></span></a>

        <ul class="dropdown-menu">
            <li><a href="/login">Logout</a></li>
            <li><a href="/{{user['name']}}/edit">Edit User</a> </li>
        </ul>
      </li>




    </ul>

  </div>
 </nav>

<!-- List of events the user is attending -->
 <div class="container a">
<h1 style="font-family: 'Shadows Into Light', cursive;font-size:50px;color:white;">Events {{user['name']}} is attending:</h1>

{% for t in user['going_to']: %}
<h1><a href="/events/{{t}}" style="font-family: 'Shadows Into Light', cursive;font-size:35px">{{t}}</a></h1>
{% endfor %}
<br>
 <br><br><br>


</div>


<!-- More data will be displayed on the home page-->



</body>
</html>