<html>



    <head>
        <!--Google Fonts API -->
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

        <!--Importing necessary JS and CSS files -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" type="text/css">
        <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
        <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
        <link href="{{url_for('static', filename='font-awesome.min.css')}}" rel="stylesheet" type="text/css">
        <link href="{{url_for('static', filename='simple-sidebar.css')}}" rel="stylesheet" type="text/css">
<!-- style and script to popup text when hovered over -->
<style>
    .a{
    font-family: 'Raleway', cursive;
    }
    .a:hover{
    text-transform: uppercase;
    font-size:30px
    }
    img{
    max-width:100%
    height:auto;

    }
    div.img {
    margin: 15px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}


div.desc {
    padding: 15px;
    text-align: center;
}
</style>
<script>
    $('table div')
    .on('mouseenter', function(){
        var div = $(this);
        div.stop(true, true).animate({
            margin: -10,
            width: "+=20",
            height: "+=20"
        }, 'fast');
    })
    .on('mouseleave', function(){
        var div = $(this);
        div.stop(true, true).animate({
            margin: 0,
            width: "-=20",
            height: "-=20"
        }, 'fast');
    })

</script>




    <title>{{user['name']}}  |   Home</title>
</head>
    <!-- background image -->
    <body style="background-image: url('static/img/fnr.png');background-size:cover;" >
    <!-- Navbar -->
 <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Logged in as {{user['name']}}
                    </a>
                </li>
                <li>
                    <a href="/{{user['name']}}">Home</a>
                </li>
                <li>
                    <a href="/events-of/{{user['name']}}">My Events</a>
                </li>
                <li>
                    <a href="/events/create">Create Event</a>
                </li>
                <li>
                    <a href="/events/view">View Events</a>
                </li>
                <li>
                    <a href="/events/all/past">View Past Events</a>
                </li>
                <li>
                    <a href="/{{user['name']}}/edit">Edit User</a>
                </li>
                <li>
                    <a href="/">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>


<!-- List of events the user is attending -->
 <div class="container a">
<h1 style="font-family: 'Raleway', cursive;font-size:50px;color:white;">Events {{user['name']}} is attending:</h1>

{% for t in user['going_to']: %}
<h1><a href="/events/{{t}}" style="font-family: 'Raleway', cursive;font-size:35px">{{t}}</a></h1>
{% endfor %}
<br>
 <br><br><br>


</div>


<!-- More data will be displayed on the home page-->



</body>
</html>