<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Locomotive | An Auroville web service</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" type="text/css">


    <!-- Custom Fonts -->

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
        <!-- jQuery -->
        <script src="{{url_for('static', filename='jquery.min.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
<script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="{{url_for('static',filename='agency.min.js')}}"></script>
    <link href="{{url_for('static', filename='agency.css')}}" rel="stylesheet" type="text/css">



    <!-- Theme CSS -->


</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container" style="">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header ">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand " href="#page-top">Locomotive</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a  href="/create">Sign Up</a>
                    </li>
                    <li>
                        <a  href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/locomotive/docs">What is Locomotive?</a>
                    </li>
                    <li>
                        <a  data-toggle="modal" data-target="#exampleModal" data-whatever="Contact Us">Contact Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Locomotive!</div>
                <div class="intro-heading"><h1 style="font-family: Raleway;">Travel safe,<i>anywhere</i></h1></div>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </header>



    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="exampleModalLabel"></h4>
    </div>
    <div class="modal-body" style="font-family: Raleway;">
      Write to Locomotive!
      <br><br>
      Do you have suggestions? Errors? Improvements? Questions? Contact us! Let us know how we can help you.
      <form method="post">
        <br>
        <br>
        <div class="form-group">
          Your name:<br>
          <input type="text" class="form-control" name="name"><br>
          <label for="message-text" class="control-label">Message:</label>
          <textarea class="form-control" id="message-text" name="message" placeholder="Write a request message"></textarea>
          <br>
          <button type="submit" class="btn btn-primary">Send message</button>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
    </div>
    </div>
    </div>
    <script>
    //modal name append
    $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var recipient = button.data('whatever') // Extract info from data-* attributes
      var modal = $(this)
      modal.find('.modal-title').text(' Write to Locomotive')
    });

    </script>


</body>

</html>
