<html>


  <head>
    <title>Login to Locomotive!</title>

      <!--Googe Fonts API -->
      <link href='https://fonts.googleapis.com/css?family=Indie+Flower|Shadows+Into+Light|Rock+Salt|Covered+By+Your+Grace' rel='stylesheet' type='text/css'>

      <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
   <link href="{{url_for('static', filename='font-awesome.min.css')}}" rel="stylesheet" type="text/css">


<!--Script to Highlight input field -->
<style>
    img{
    max-width:100%
    height:auto;

    }

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=text]:focus {
    border: 4px solid #555;
}
input[type=password]:focus {
    border: 4px solid #555;
}
</style>


  </head>

  <!-- Login Form -->
  <body style="background: url('/static/img/background.jpg');background-size:cover;">


    <div class="container">
      <h1 style="font-family: 'Shadows Into Light', cursive;font-size: 100px;color:white;">Login to Locomotive!</h1>
      <br>

      <form action="" method="post">

        <input type="text" placeholder="Username" name="username"  class="form-control" style="font-family: 'Shadows Into Light', cursive;font-size:20px">
        <br>

          <input type="password" placeholder="Password" name="password" class="form-control" style="font-family: 'Shadows Into Light', cursive;font-size:20px">

        <br>

          <input class="btn btn-success" type="submit" value="Login" style="font-family: 'Shadows Into Light', cursive;font-size:20px">

      </form>

      <a href="/create" style="color:white;font-family: 'Shadows Into Light', cursive;font-size:25px">Create an account</a>
   <!-- If error -->
      {% if error %}
        <p class="text-danger bg-danger"style="font-family: 'Shadows Into Light', cursive;font-size:25px" ><strong>Error:</strong> {{ error }}</p>
      {% endif %}

    </div>



</body>
</html>
