<html>
  <head>
    <title>Login to Locomotive!</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
   <link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <h1>Login to Locomotive!</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username"  class="form-control">
         <input type="password" placeholder="Password" name="password" class="form-control">
        <br>
        <input class="btn btn-success" type="submit" value="Login">
      </form>
      <a href="/create" style="color:black;">Create an account</a>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
    </div>
  </body>
</html>
