<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" type="text/css">
  <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
   <link href="{{url_for('static', filename='font-awesome.min.css')}}" rel="stylesheet" type="text/css">


    <meta charset="UTF-8">




    <title>{{user_name}} Home</title>
</head>
<body>

 <nav class="navbar navbar-inverse">


  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >Logged in as {{user_name}}</a>
    </div>
    <ul class="nav navbar-nav">

      <li class="active"><a href="/">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Events I Created
        <span class="caret"></span></a>

        <ul class="dropdown-menu">
            {%for my_events in what_events_i_own: %}
            <li><a href="/events/{{my_events.name}}">{{my_events.name}}</a></li>
            {% endfor %}
        </ul>
      </li>

        <li><a href="/events/create">Create an Event</a></li>
      <li><a href="/events/view">View Events</a></li>

        <li class="navbar-right">
        <a class="dropdown-toggle" data-toggle="dropdown" >User options
        <span class="caret"></span></a>

        <ul class="dropdown-menu">
            <li><a href="/login">Logout</a></li>
            <li><a href="/{{user_name}}/edit">Edit User</a> </li>
        </ul>
      </li>

    </ul>

  </div>
 </nav>


Event created by:
<br>
{{var.who_made_me}}
<br><br>
Event Name:
<br>
{{var.name}}
<br><br>
Host's Email:
<br>
{{var.email}}
<br><br>
Host's phone number:
<br>
{{var.phone_number}}
<br><br>
Event Location:
<br>
{{var.venue}}
<br><br>
Event Address:
<br>
{{var.address}}  <a href="{{wololo}}" style="color:black;">View on Google Maps:</a>
<br><br>
Event's Description:
<br>
{{var.description}}
<br><br>
When the event is happening:
<br>
{{var.date}}
<br><br>
Event Begins at:
<br>
{{var.time}}
<br><br>
Event duration
<br>
{{var.duration}}
<br><br>
Who's coming:
{% for people in var.who_is_coming %}
<br>
{{ people.name }}

{% endfor %}

<br>
<br>

<form action="" method="post">
    <input type="submit" value="Go to!">
<br><br>
<a href="/events/view" style="color:black;">back to view events</a>
</form>
</body>
</html>