<!DOCTYPE html>
<html lang="en">
<head>
<title>{{var.name}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
   <link href="{{url_for('static', filename='font-awesome.min.css')}}" rel="stylesheet" type="text/css">

</head>
<body>
    <nav class="navbar navbar-inverse">



  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >Logged in as {{user_in_use }}</a>
    </div>
    <ul class="nav navbar-nav">

      <li class="active"><a href="/">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Events I Created
        <span class="caret"></span></a>

        <ul class="dropdown-menu">
            {%for my_eventz in my_events: %}
            <li><a href="/events/{{my_eventz.name}}">{{my_eventz.name}}</a></li>
            {% endfor %}
        </ul>
      </li>

        <li><a href="/events/create">Create an Event</a></li>
      <li><a href="/events/view">View Events</a></li>

        <li class="navbar-right">
        <a class="dropdown-toggle" data-toggle="dropdown" >User options
        <span class="caret"></span></a>

        <ul class="dropdown-menu">
            <li><a href="/login">Logout</a></li>
            <li><a href="/{{user_in_use}}/edit">Edit User</a> </li>
        </ul>
      </li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Edit my events
        <span class="caret"></span></a>

        <ul class="dropdown-menu">
            {%for my_eventz in my_events: %}
            <li><a href="/events/edit/{{my_eventz.name}}">{{my_eventz.name}}</a></li>
            {% endfor %}
        </ul>
      </li>

    </ul>

  </div>
 </nav>



<div class="container">
{% if var.image != None: %}
    <img src="/static/img/{{var.image}}" >
{% end if %}

<h3>Event created by:</h3>
<br>
<h4>{{var.who_made_me}}
<br><br>


<h3>Event Name:</h3>
<br>
<h4>{{var.name}}</h4>
<br><br>


<h3>Host's Email:</h3>
<br>
<h4>{{var.email}}</h4>
<br><br>


<h3>Host's phone number:</h3>
<br>
<h4>{{var.phone_number}}</h4>
<br><br>


<h3>Event Location:</h3>
<br>
<h4>{{var.venue}}</h4>
<br><br>


<h3>Event Address:</h3>
<br>
<h4>{{var.address}}  <a href="{{wololo}}" style="color:black;">View on Google Maps:</a></h4>
<br><br>


<h3>Event's Description:</h3>
<br>
<h4>{{var.description}}</h4>
<br><br>


<h3>When the event is happening:</h3>
<br>
<h4>{{var.date}}</h4>
<br><br>


<h3>Event Begins at:</h3>
<br>
<h4>{{var.time}}</h4>
<br><br>


<h3>Event duration:</h3>
<br>
<h4>{{var.duration}}</h4>
<br><br>


<h3>Who's coming:</h3>
{% for people in var.who_is_coming %}
<br>
<h4>{{ people.name }}</h4>

{% endfor %}

<br>
<br>

<form action="" method="post">
    <input type="submit" value="Go to!" class="btn btn-success">
<br><br>
</form>
</div>
</body>

</html>