<!DOCTYPE html>
<html lang="en">
<head>
<title>{{var.name}}</title>
<link href='https://fonts.googleapis.com/css?family=Indie+Flower|Shadows+Into+Light|Rock+Salt|Covered+By+Your+Grace' rel='stylesheet' type='text/css'>

    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
   <link href="{{url_for('static', filename='font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link
        rel="stylesheet"
        href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"
    />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.js"></script>

    <link
        rel="stylesheet"
        href="http://k4r573n.github.io/leaflet-control-osm-geocoder/Control.OSMGeocoder.css"
    />

<style>
    .form_font{
    font-family: 'Shadows Into Light', cursive;font-size:30px;
    }

</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.js"></script>
</head>
<body>

 <nav class="navbar navbar-inverse ">


  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand " style="font-family: 'Rock Salt', cursive;font-size:15px">Logged in as {{user_in_use}}</a>
    </div>
    <ul class="nav navbar-nav">

      <li><a href="/">Home</a></li>


        <li><a href="/events/create">Create an Event</a></li>
      <li><a href="/events/view">View Events</a></li>
        <li class="navbar-left"><a href="/events/all/past"> View past events</a>

        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" >Events I Created
        <span class="caret"></span></a>

        <ul class="dropdown-menu">
            {%for my_eventz in my_events: %}
            <li><a href="/events/{{my_eventz.name}}">{{my_eventz.name}}</a></li>
            {% endfor %}
        </ul>
      </li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Edit my events
        <span class="caret"></span></a>

        <ul class="dropdown-menu">
            {%for my_eventz in my_events: %}
            <li><a href="/events/edit/{{my_eventz.name}}">{{my_eventz.name}}</a></li>
            {% endfor %}
        </ul>
      </li>








        <li class="navbar-left">
        <a class="dropdown-toggle" data-toggle="dropdown" >User options
        <span class="caret"></span></a>

        <ul class="dropdown-menu">
            <li><a href="/login">Logout</a></li>
            <li><a href="/{{user_in_use}}/edit">Edit User</a> </li>
        </ul>
      </li>

        <li>
            <form class="navbar-form navbar-right" method="post">

                    <input type="text" class="form-control" placeholder="Search Events">
                    <input type="submit" class="btn btn-success" value="search">
          </form>
        </li>



    </ul>

  </div>
 </nav>
    <div id="map" style="height:500px;"></div>

    <script
        src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js">
    </script>
    <script

        src="http://k4r573n.github.io/leaflet-control-osm-geocoder/Control.OSMGeocoder.js">
    </script>

    <script>

        var map = L.map('map').setView([{{lat}},{{lng}}], 16);
        mapLink =
            '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            maxZoom: 25,
            }).addTo(map);
        var marker = L.marker([{{lat}},{{lng}}]).addTo(map);
        marker.bindPopup("<b>This is where {{var.name}} is happening!</b><br>Venue:{{var.venue}}").openPopup();
        $("#map").width($(window).width());
        map.invalidateSize();




    </script>
<br><br><br>


<div class="container form_font">
{% if var.image != None: %}
    <img src="/static/img/{{var.image}}" height="640" width="480">
{% endif %}

Event created by:

{{var.who_made_me}}
<br><br>


Event Name:
{{var.name}}
<br><br>
When added:
    {{var['when_made']}}
   <br><br>

Host's Email:

{{var.email}}
<br><br>


Host's phone number:

{{var.phone_number}}
<br><br>


Event Location:

{{var.venue}}
<br><br>


Event Address:

{{var.address}} 
<br><br>


Event's Description:
    <br>

{{var.description}}
<br><br>


When the event is happening:

{{var.date}}
<br><br>


Event Begins at:

{{var.time}}
<br><br>


Event duration:

{{var.duration}}
<br><br>
    {% if past != True %}
<form action="/goto/{{var.name}}">
    <input type="submit" value="Go to!" class="btn btn-success" style="font-size:25px;">
<br><br>
</form>
 {% endif %}

Who's coming:
    <br>
{% for people in var.who_is_coming %}
    {{ people}}<a href="/email/{{people}}"><button class="btn btn-default">Email</button></a>
    <a href="/request/phone_number/{{people.name}}"><button class="btn btn-default">Request phone number</button></a><br>
{% endfor %}

<br>
<br>
<form method="post" id="xd">
    <input type="text" name="search" id="search">

</form>
<script>
    $('#search').keyup(function(){
    var search_term = $(this).val();
    xd.submit();



    });

</script>
<div id="results">


</div>

</div>
</body>

</html>