<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower|Shadows+Into+Light|Rock+Salt|Covered+By+Your+Grace|Martel:300' rel='stylesheet' type='text/css'>

    <meta charset="UTF-8">
    <title>request phone number: {{user_to.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
   <link href="{{url_for('static', filename='font-awesome.min.css')}}" rel="stylesheet" type="text/css">

<style>
    .form_font{
    font-family:  'Martel', serif;
    {

</style>
</head>
<body>

 <nav class="navbar navbar-inverse ">


  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand " style="font-family: 'Rock Salt', cursive;font-size:15px">Logged in as {{user_in_use.name}}</a>
    </div>
    <ul class="nav navbar-nav">

      <li><a href="/">Home</a></li>


        <li><a href="/events/create">Create an Event</a></li>
      <li><a href="/events/view">View Events</a></li>
        <li class="navbar-left"><a href="/events/all/past"> View past events</a>

        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" >Events I Created
        <span class="caret"></span></a>

        <ul class="dropdown-menu">
            {%for my_eventz in my_events: %}
            <li><a href="/events/{{my_eventz.name}}">{{my_eventz.name}}</a></li>
            {% endfor %}
        </ul>
      </li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Edit my events
        <span class="caret"></span></a>

        <ul class="dropdown-menu">
            {%for my_eventz in my_events: %}
            <li><a href="/events/edit/{{my_eventz.name}}">{{my_eventz.name}}</a></li>
            {% endfor %}
        </ul>
      </li>




        </li>




        <li class="navbar-left">
        <a class="dropdown-toggle" data-toggle="dropdown" >User options
        <span class="caret"></span></a>

        <ul class="dropdown-menu">
            <li><a href="/login">Logout</a></li>
            <li><a href="/{{user_name}}/edit">Edit User</a> </li>
        </ul>
      </li>

        <li>
            <form class="navbar-form navbar-right" method="post">

                    <input type="text" class="form-control" placeholder="Search Events">
                    <input type="submit" class="btn btn-success" value="search">
          </form>
        </li>



    </ul>

  </div>
 </nav>

<div class="form_font">
Get the phone number of {{user_to.name}}! Locomotive will send the email from their automated email system with the message you send.<br>
The reason being privacy, so that users' phone numbers aren't publicly visible and only are if they accept your request.<br>
You however must provide yours, which also, wouldn't be made public, just for {{user_to.name}} to get back to you; and to <br>
notify if you will be accompanying them! Thanks for understanding!
<br><br>

 <b>Your request message MUST include the event name and if you're asking them to pick you up or to accompany you.</b><br>
Further communications will be handled by what the two parties decide on<br><br>

 An example request-phone number would be:<br>
 Hello, Izzy Stradlin.<br>
 I was wondering if you could accompany me to the musical which is day after tomorrow at Visitor's Centre. My name is Steven Adler and my phone number is 94425xxxxx<br>
 Please get back to me soon :)<br>
 Thanks,<br>
 Axl
</div>
    <br><br><br><br>

<form method="post" class="form_font">
    <textarea rows="7" class="form-control" placeholder="Your request message, your phone number and the event" name="message" ></textarea>
    <input type="submit" class="btn btn-success" value="Submit email" >
</form>
      {% if error %}
        <p class="text-danger bg-danger"><strong>Error:</strong> {{ error }}</p>
      {% endif %}

</body>
</html>