<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Locomotive |  Reset Password </title>

<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

      <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
   <link href="{{url_for('static', filename='font-awesome.min.css')}}" rel="stylesheet" type="text/css">

</head>
<body>


    <form method="post" >
<div class="row">

<div class="col-xs-4" >
    <input type="password" class="form-control"  name="password" placeholder="Password">
</div>
<div class="col-xs-4" >
    <input type="password" class="form-control"  placeholder="Password again" name="password_again">
</div><br>
</div>
<input type="submit" class="btn btn-success" value="Sumbit" >

</form>
      {% if error %}
        <p class="text-danger bg-danger"style="font-family: 'Shadows Into Light', cursive;font-size:25px" ><strong>Error:</strong> {{ error }}</p>
      {% endif %}


</body>
</html>