<html>
<head>
<title>View all Events</title>

<!-- Google Fonts API -->
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    <!-- Importing necessary JS and CSS files  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
   <link href="{{url_for('static', filename='font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='simple-sidebar.css')}}" rel="stylesheet" type="text/css">





<!-- Form Font -->
<style>
    .form_font{
    font-family: 'Raleway', cursive;font-size:30px;
    {

</style>

</head>

<body>
<!--Navbar -->
     <!-- Navbar -->
 <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Logged in as {{user_in_use}}
                    </a>
                </li>
                <li>
                    <a href="/{{user_in_use}}">Home</a>
                </li>
                <li>
                    <a href="/events-of/{{user_in_use}}">My Events</a>
                </li>
                <li>
                    <a href="/events/create">Create Event</a>
                </li>
                <li>
                    <a href="/events/view">View Events</a>
                </li>
                <li>
                    <a href="/events/all/past">View Past Events</a>
                </li>
                <li>
                    <a href="/{{user_in_use}}/edit">Edit User</a>
                </li>
                <li>
                    <a href="/">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>


<br><br><br>

<div class="container" class="form_fonts"> <!--align="middle"-->
   <h1 style="font-family: 'Raleway', cursive;font-size: 75px">Past Events:</h1>
    <br><br>
<form method='post'>
    <!--Search past events -->
    <input type="text" placeholder="Search events" name="search_events" class="form-control form_font"><br>
    <input type="submit" class="btn btn-success" value="Search event">
    <a href="/events/search/advanced"><button class="btn btn-default">Advanced search options</button></a>

</form>
<!-- Displays all past events -->
    {% for eventz in past_events: %}
<h3 style="font-family: 'Raleway', cursive;font-size: 50px"><a href="/events/{{eventz.name}}" > {{ eventz.name }}</a>   Date:{{eventz.date}}   Venue:{{eventz.venue}} </h3><br><br>
<br>
{% endfor %}
</div>


</body>
</html>