<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View all Events</title>
</head>
<body>
<a href="/login" align="left" style="color:black;position:absolute;right:0px;"><button>logout</button></a>

<a href="/" style="color:black;">go home</a>
<br><br><br>
<div> <!--align="middle"-->
    Events:
    <br><br>
<form method='post'>
    <input type="text" placeholder="Search events" name="search_events" >
    <input type="submit">

</form>

    {% for eventz in all_events: %}
<a href="/events/{{eventz.name}}" style="color:black;"> {% print eventz.name %}</a>
<br>
{% endfor %}
</div>


</body>
</html>