<html>
<head>

    <title>View all Events</title>
<script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <!--Google fonts API -->
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    <!-- Importing necessary JS and CSS files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
    <link href="{{url_for('static', filename='font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='simple-sidebar.css')}}" rel="stylesheet" type="text/css">





<!-- Form Fonts -->
<style>
    .form_font{
    font-family: 'Raleway', cursive;font-size:30px;
    {

</style>

</head>

<body>
<!--Navbar -->
    <!-- Navbar -->
 <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Logged in as {{user_in_use}}
                    </a>
                </li>
                <li>
                    <a href="/{{user_in_use}}">Home</a>
                </li>
                <li>
                    <a href="/events-of/{{user_in_use}}">My Events</a>
                </li>
                <li>
                    <a href="/events/create">Create Event</a>
                </li>
                <li>
                    <a href="/events/view">View Events</a>
                </li>
                <li>
                    <a href="/events/all/past">View Past Events</a>
                </li>
                <li>
                    <a href="/{{user_in_use}}/edit">Edit User</a>
                </li>
                <li>
                    <a href="/">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>



<br><br><br>

<div class="container" class="form_fonts">
   <h1 style="font-family: 'Raleway', cursive;font-size: 75px">Events:</h1>
    <br><br>

<form method='post'>
    <!--Search events -->
    <input type="text" placeholder="Search events" name="search_events" class="form-control form_font" id="search"><br>
</form>

<script>

    $('#search').keyup(function(){
    var search_term = $(this).val();

    if(search_term != ''){

$.ajax({
  type: "POST",
  contentType: "application/json; charset=utf-8",
  url: "/events/view",
  data: JSON.stringify({'search': search_term}),
  success: function (data) {
    var reply = ""
    document.getElementById("results").innerHTML = "<h3>No results<h3>";

    for (i = 0; i < data.results.length; i++){
    reply = reply +'<a href="'+ data.results[i]+'"><h3 style="font-family: Raleway, cursive;font-size: 50px">'+data.results[i]+'</h3>'+'</a><br><br>'

    $("#results").html(reply);
    }

  },
  dataType: "json"
});
}
else{
document.getElementById("results").innerHTML = "<h3>No results<h3>";

}
    });


</script>

<div id="results">

</div>






    <br><br><br>
<div align="center">
<!--Displays all events with name date and venue. Need to add hover over for more details -->
    {% for eventz in all_events: %}
<h3 style="font-family: 'Raleway', cursive;font-size: 50px"><a href="/events/{{eventz.name}}" > {{ eventz.name }}</a>   Date:{{eventz.date}}   Venue:{{eventz.venue}} </h3><br><br>
<br>
{% endfor %}
</div>
</div>


</body>
</html>